<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.6/dist/chart.umd.min.js"></script>

<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">
            Alarm Distribution by Type
            <button type="button" class="btn btn-link" data-bs-toggle="modal"
                    data-bs-target="#chartModal">
                <i class="bi bi-info-circle"></i>
            </button>
        </h5>

        <div id="chartContainer1" class="hchart-alarm">
            <canvas id="ChartAlarmDistributionByNormGroup"></canvas>
        </div>

        <div id="noAlarmAlert1" class="alert alert-success chart-alarm-no-tigger">
            Everything is fine, no alarm triggered.
        </div>

        <script nonce="chart123">
            const alarmData = @Html.Raw(ViewData["SeverityAlarmsCount"]);
            const labels = Object.keys(alarmData);
            const data = Object.values(alarmData);

            if (data.length === 0) {
                document.getElementById('chartContainer1').style.display = 'none';
                document.getElementById('noAlarmAlert1').style.display = 'flex';
            } else {
                document.getElementById('chartContainer1').style.display = 'block';
                document.getElementById('noAlarmAlert1').style.display = 'none';

                const modifiedLabels = labels.map((label, index) => `${label} (${data[index]})`);

                const severityColors = {
                    'Critical': '#f44336',
                    'High': '#ff9800',
                    'Medium': '#ffeb3b',
                    'Low': '#2196f3',
                    'Warning': '#9e9e9e'
                };

                // Associer les couleurs en fonction de la sévérité dans le label
                const backgroundColors = labels.map(label => {
                    const severity = label.split(' ')[0]; // Extraire la sévérité du label
                    return severityColors[severity] || '#9c27b0'; // Couleur par défaut (violet) si non trouvée
                });

                const ctx = document.getElementById('ChartAlarmDistributionByNormGroup').getContext('2d');

                const chart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: modifiedLabels,
                        datasets: [{
                            label: 'Number of Occurrences',
                            data: data,
                            borderWidth: 2,
                            backgroundColor: backgroundColors, // Utilisation des couleurs basées sur la sévérité
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        aspectRatio: 1.8,
                        animation: {
                            duration: 0
                        },
                        plugins: {
                            legend: {
                                display: true,
                                position: 'top',
                                labels: {
                                    font: {
                                        size: 16,
                                    }
                                }
                            },
                            title: {
                                display: false,
                                text: 'Alarm Type Distribution'
                            }
                        },
                        scales: {
                            x: { display: false },
                            y: { display: false }
                        }
                    }
                });

                chart.options.onClick = (event, elements) => {
                    if (elements.length > 0) {
                        const label = chart.data.labels[elements[0].index];
                        const severity = label.split(' ')[0].toLowerCase();

                        window.location.href = `/Alarm?search=${severity}`;
                    }
                };
            }
        </script>
    </div>
</div>
