<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.6/dist/chart.umd.min.js"></script>

<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">
            Alarm Distribution by Type
            <button type="button" class="btn btn-link" data-bs-toggle="modal"
                    data-bs-target="#chartModal">
                <i class="bi bi-info-circle"></i>
            </button>
        </h5>

        <div id="chartContainer1" style="height: 300px; display: none;">
            <canvas id="ChartAlarmDistributionByNormGroup"></canvas>
        </div>

        <div id="noAlarmAlert1" class="alert alert-success" style="display: none; height: 300px; display: flex; justify-content: center; align-items: center;">
            Everything is fine, no alarm triggered.
        </div>

        <script>
            const alarmData = @Html.Raw(ViewData["SeverityAlarmsCount"]);
            //const alarmData = {};
            const labels = Object.keys(alarmData);
            const data = Object.values(alarmData);

            if (data.length === 0) {
                document.getElementById('chartContainer1').style.display = 'none';
                document.getElementById('noAlarmAlert1').style.display = 'flex';
            } else {
                document.getElementById('chartContainer1').style.display = 'block';
                document.getElementById('noAlarmAlert1').style.display = 'none';

                const modifiedLabels = labels.map((label, index) => `${label} (${data[index]})`);

                const ctx = document.getElementById('ChartAlarmDistributionByNormGroup').getContext('2d');

                const chart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: modifiedLabels,
                        datasets: [{
                            label: 'Number of Occurrences',
                            data: data,
                            borderWidth: 1,
                            backgroundColor: ['#4caf50', '#f44336', '#ffeb3b', '#2196f3', '#9c27b0'], // Exemple de couleurs
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: true,
                        aspectRatio: 1.8,
                        animation: {
                            duration: 0
                        },
                        plugins: {
                            legend: {
                                display: true,
                                position: 'top',
                                labels: {
                                    font: {
                                        size: 14,
                                    }
                                }
                            },
                            title: {
                                display: false,
                                text: 'Alarm Type Distribution'
                            }
                        },
                        scales: {
                            x: { display: false },
                            y: { display: false }
                        }
                    }
                });

                chart.options.onClick = (event, elements) => {
                    if (elements.length > 0) {
                        const label = chart.data.labels[elements[0].index];
                        const severity = label.split(' ')[0].toLowerCase();

                        window.location.href = `/Alarms?search=${severity}`;
                    }
                };
            }
        </script>
    </div>
</div>
