@model IEnumerable<UITManagerWebServer.Models.NormGroup>

@{
    ViewData["Title"] = "Create new Alarm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid py-5 px-4" style="max-width: 1700px;">
    <div class="row mb-4">
        <div class="col-lg-12">
            <h1 class="h2 text-start fw-bold">@ViewData["NormGroup"]?.ToString() - DETAILS</h1>
        </div>
    </div>

    <div class="card shadow-sm border-0 rounded">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped align-middle">
                    <thead class="table-light">
                    <tr>
                        <th>
                            Name
                            <button type="button" class="btn btn-link" data-bs-toggle="modal"
                                    data-bs-target="#nameModal">
                                <i class="bi bi-info-circle"></i>
                            </button>
                        </th>
                        <th>
                            Max Expected Processing Time
                            <button type="button" class="btn btn-link" data-bs-toggle="modal"
                                    data-bs-target="#maxProcessingModal">
                                <i class="bi bi-info-circle"></i>
                            </button>
                        </th>
                        <th>
                            Priority
                            <button type="button" class="btn btn-link" data-bs-toggle="modal"
                                    data-bs-target="#PriorityModal">
                                <i class="bi bi-info-circle"></i>
                            </button>
                        </th>
                        <th>
                            Severity
                            <button type="button" class="btn btn-link" data-bs-toggle="modal"
                                    data-bs-target="#severityModal">
                                <i class="bi bi-info-circle"></i>
                            </button>
                        </th>
                        <th>
                            Enabled
                            <button type="button" class="btn btn-link" data-bs-toggle="modal"
                                    data-bs-target="#enabledModal">
                                <i class="bi bi-info-circle"></i>
                            </button>
                        </th>
                        <th>
                            Delete
                            <button type="button" class="btn btn-link" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal">
                                <i class="bi bi-info-circle"></i>
                            </button>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal Name -->
<div class="modal fade" id="nameModal" tabindex="-1" aria-labelledby="nameModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nameModalLabel">Name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>The name of the normgroup which will be displayed when an alarm is triggered.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal MaxProcessingExpectedTime-->
<div class="modal fade" id="maxProcessingModal" tabindex="-1" aria-labelledby="maxProcessingModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="maxProcessingModalLabel">Max expected Processing Time</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Enter a timestamp to determine when a machine will be displayed in "Overdue Alarm" </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Priority-->
<div class="modal fade" id="PriorityModal" tabindex="-1" aria-labelledby="PriorityModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="PriorityModalLabel">Priority</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Set a priority in [1-9].</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Severity-->
<div class="modal fade" id="severityModal" tabindex="-1" aria-labelledby="severityModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="severityModalLabel">Severity</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Set the severity of this normgroup.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="enabledModal" tabindex="-1" aria-labelledby="enabledModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="enabledModalLabel">Enabled</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You can disable this normgroup.<br/> 
                    Alarm which is triggered with this normgroup will not beeing triggered again.<br/>
                    You can enable this normgroup later
                    </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Delete this normgroup, irreversible action</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>