@model Alarm

<form method="post" id="alarm-status-update">
    @Html.AntiForgeryToken()
</form>

<div class="modal fade" id="alarmHistoryModal" tabindex="-1" aria-labelledby="alarmHistoryModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alarmHistoryModalLabel">Alarm Status History</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="alarmHistoryContent">
                    @Html.Partial("_AlarmHistory", @Model.AlarmHistories)
                </div>
            </div>
        </div>
    </div>
</div>
